body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #292929;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/*--------navbar---------*/
.nav-bar{
  display: flex;
  flex: 1;
  height: 84px;
  padding: 20px 40px;
  justify-content: space-between;
  align-items: center;
  background-color: #101010;
  color:#FFFFFF;
}
.nav-bar h2{
  font-size: 20px;
}

.logo-container{
  font-size: 36px;
  font-weight: 600;
}

.nav-bar .user-container{
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.user-photo{
  width: 44px;
  height: 44px;
  border-radius: 22px;
  margin: 0 20px;
}



/*--------Ride-container---------*/

.ride-filter-wrapper{
  height:100%;
  background-color:#292929;
  color:#FFFFFF;
  padding: 30px;
}

.ride-filter-container{
  display: flex;
  flex:1;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  color:#F2F2F2;
}

.ride-type-container{
  display: flex;
  align-items: center;

}

.ride-type-container div{
  margin: 0 10px;
}

.ride-type-container div:hover,
.ride-type-container div:visited{
  cursor: pointer;
  border-bottom: 3px solid #CBCBCB;
}

.filter-container div{
  margin: 0 40px;
}

/*--------Rides---------*/
.ride-wrapper{
  width: 98%;
  height: 198px;
  background-color:#171717;
  color:#CFCFCF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  margin: 20px;
  border-radius:10px;

}

.image-detail-container{
  display: flex;
}

.image-container{
  padding:10px 20px;
  border-radius:5px;
}

.ride-image{
  width:296px;
  height: 148px;
}

.ride-detail-container{
  display: flex;
  flex-direction: column;
  padding: 10px 20px ;
}

.ride-detail-container span{
  margin:2px 10px;
}

.state-city-container{
  display: flex;
  padding:0px 40px 60px 0px ;
}

.state-city-container div{
  width:100px;
  background-color: #000000 ;
  color: #FFFFFF;
  padding: 5px 20px;
  margin: 0 10px;
  border-radius: 16px;
}




/*-------filter-container-------*/

.filter-card{

  box-sizing: border-box;
  position: absolute;
  right: 10px;
  top:190px;
  padding:10px 0px;
  width: 228px;
  height: 190px;
  background: #131313;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  
}

.filter-heading{
  border-bottom: 2px solid #CBCBCB;
  padding:10px 0px;
  cursor: pointer;
}



.filter-state{
position: absolute;
width: 160px;
top:60px;
right: 8px;
height: 37.5px;
border-radius: 4.68775px;
}

.filter-city{
  position: absolute;
  width: 160px;
  top: 100px;
  right: 5px;
  height: 37.5px;
  border-radius: 4.68775px;
  }

  .filter-btn{
    position: absolute;
    width:100px;
    top: 140px;
    right: 20px;
    padding:5px 0px;
    border-radius: 4.68775px;
    cursor: pointer;
    background-color:#292929;
    text-align: center;
    }








  